.slider {
  overflow: inherit;
  margin-bottom: 3rem;
  position: relative;
  z-index: 1;
  &:hover {
    z-index: 80;
  }
  &__title {
    padding-top: 2rem;
    padding-left: 3rem;
    padding-bottom: 1rem;
    color: white;
    font-size: 1.15rem;
    font-weight: 500;
  }
}

.swiper-button-next,
.swiper-button-prev {
  color: rgba(221, 221, 221, 0.55) !important;
  &:hover {
    transition: color linear 0.5s;
    color: white !important;
  }
}
